[Desktop Entry]
Version=1.0
Name=Flashback
Comment=Entertainment for Ubuntu Touch
Exec=qmlscene $@ Flashback.qml
Icon=flashback.png
Terminal=false
Type=Application
Keywords=Movie,Film,TV,Show,Entertainment;
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Show-Header=true
X-Ubuntu-Splash-Color=#333333
